@each $spacing in $spacings{
  // generating .{spacing}--{size} styles e.g .margin--large { margin: $large };
  $class: #{$spacing};
  @each $size, $value in $sizes{
      .#{$class}--#{$size}{
       #{$spacing}: #{$value};
      }
  }
  // generating .{spacing}-{direction}--{size} styles e.g margin-top--large {margin-top: $large};
  @each $direction in $directions {
    $class: #{$spacing}-#{$direction};
    @each $size, $value in $sizes{
      .#{$class}--#{$size}{
        #{$spacing}-#{$direction}: #{$value};
      }
    }
  }
}

// styles applied to all column classess
@mixin getColumnStylesMixin($precentageWidth){
  width: $precentageWidth + %;
  display: table-cell;
  vertical-align: top;
}

@mixin containerChildMixin(){
  & * {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}

[class^="#{$gridPrefix}-col"]{
  @include containerChildMixin();
}

@mixin containerMixin($alignment){
  @include containerChildMixin();
  text-align: $alignment;
}

// generating .{prefix}-col-{number} styles 
@for $i from 1 through $columnCount {
    $rowWidthDivider: ($columnCount / $i);
    $precentageWidth: $rowWidth / $rowWidthDivider;
    $colClassName: #{$gridPrefix}-col-#{$i};
    .#{$gridPrefix}-col-#{$i}{
      @include getColumnStylesMixin($precentageWidth);
    }
    @each $alignment in $verticalAlignments{
      .#{$gridPrefix}-col--#{$alignment}{
        vertical-align: $alignment;
      }
    }
    @each $alignment in $alignments{
      .#{$gridPrefix}-col--#{$alignment}{
        text-align: $alignment;
      }
    }
}
