$tiny: 3px;
$small: 5px;
$base: 10px;
$large: 15px;
$huge: 25px;

$spacings: 'margin', 'padding';
$sizes: ('tiny': $tiny, 'small': $small, 'base': $base, 'large': $large, 'huge': $huge);
$directions: 'top', 'right', 'bottom', 'left';
$alignments: left, right, center;
$verticalAlignments: top, middle, bottom;
$rowWidth: 100;
$columnCount: 12;



$textMultiplier: 1.6;
$text-small: $base * $textMultiplier;
$text-base: $text-small * $textMultiplier;
$text-large: $text-base * $textMultiplier;
$text-huge: $text-large * $textMultiplier;

$color-text-main: rgba(60,60,60,1);

$color2: rgba(170,170,170, 1);


$gridPrefix: 'agl';