* {
  box-sizing: border-box;
}

@import './agl/agl';

html, body{
  width: 100%;
  height: 100%;
  margin:0;
  font-family: arial;
  font-size: $text-base;
  color: $color-text-main;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

.nav{
  margin: $base;
  ul{
    li{
      display: inline-block;
      a{
        color: white;
        padding: $base;
        margin: $small;
        background-color: $color2;
      }
    }
  }
}

.sub-nav-link{
  width: 100%;
  background-color: $color2 + 30;
  padding: $base;
  &:hover{
    background-color: transparent;
  }
}

.jumbo{
  background-color: $color2;
  height: 60vh;
}

.card{
  background-color: $color2;
  height: 300px;
  width: 100%;
}

.test-jumbo-img{
  border-radius: 50%;
}